<%= turbo_frame_tag "modal" do %>

  <div id="form" class="container">
    <div class="p-2">
      <%= simple_form_for @profile do |f| %>
        <%= f.input :name %>
        <%= f.input :surname %>
        <%= f.input :linkedln %>
        <%= f.input :birthday, as: :date, start_year: Date.today.year - 100, end_year: Date.today.year %>
        <div class="d-flex justify-content-evenly pt-3">
          <%= f.button :submit, "Create", class: "btn btn-primary mb-4" %>
          <p><%= link_to "Cancel", "#", data: {
            controller: "modals",
            action: "modals#close",
            }, class: "btn btn-danger" %>
          </p>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
