<div class="container">
  <div class="card mt-5">
    <%#= form_with model: @profile do |f| %>
    <%= simple_form_for @profile do |f| %>
      <%= f.input :name %>
      <%= f.input :surname %>
      <%= f.input :linkedln %>
      <%= f.input :birthday %>
      <%= f.button :submit %>
    <% end %>
  </div>
</div>
