<div class="card m-5 p-5">
  <div class="d-flex">
    <div class="card m-5 p-5 qr-container">
      <h1>Name: <%= @profile.name %></h1>
      <h1>Surname: <%= @profile.surname %></h1>
      <h1>Birthday: <%= @profile.birthday %></h1>
      <%#= image_tag(url_for(@profile.qrcode)) %>
    </div>
    <div class="card m-5 p-5 qr-container">
      <%= image_tag(@qrcode.to_data_url) %>
    </div>
  </div>

  <div class="card m-3 p-4">
    <h2><%= @profile.name %>'s Article</h2>
    <% @profile.articles.each do |article| %>
      <%= link_to profile_articles_path(@profile, article) do %>
        <div class="card my-2 p-3">
         <h3><%= article.title %></h3>
          <%# <p> %>
            <%#= article.content %>
            <%# </p> %>
        </div>
      <% end %>
    <% end %>


    <div>
      <%= link_to "+ Article", new_profile_article_path(@profile)%>

      <%#= turbo_frame_tag "artmodal" %>
    </div>
  </div>


  <p><%= link_to "back", profiles_path  %></p>
  <p class=""><%= link_to "delete this profile",  profile_path(@profile), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } %></p>
</div>
