<div id="form" class="container">
    <%= simple_form_for [@profile, @article] do |f| %>
      <div class="card m-3 p-3">
        <%= f.input :title %>
        <%= f.input :content %>
        <div>
          <%= f.button :submit, class: "btn btn-primary" %>
        </div>
      </div>
    <% end %>
    <p><%= link_to "Cancel", :back, class: "btn btn-secondary" %>
    </p>
</div>
