<%= form_with(model: [@profile, article], html: {id: dom_id(article, :form)}) do |form| %>
  <div class="card">
    <%= form.label :title %>
    <%= form.text_field :title %>
    <%= form.label :content %>
    <%= form.text_field :content %>
    <%= form.submit %>
  </div>

<% end %>
