<div id="form" class="container">
    <%= simple_form_for @article do |f| %>
      <div class="card mt-5">
        <%#= f.hidden_field :profile_id, value: @profile_id %>
        <%= f.collection_select :profile_id, Profile.all, :id, :name, prompt: 'Select a User' %>
        <%= f.input :title %>
        <%= f.input :content %>
        <%= f.button :submit %>
      </div>
    <% end %>
    <p><%= link_to "Cancel", :back %>

      <%#= link_to "Cancel", "#",data: {
      controller: "modals",
      action: "modals#close",
    }   %>

    </p>
</div>
