<div id="form" class="container">
    <%= simple_form_for [@profile, article] do |f| %>
      <div class="card mt-5">
        <%= f.input :title %>
        <%= f.input :content %>
      </div>
      <%= f.button :submit %>
    <% end %>
    <p><%= link_to "Cancel", "#"%>
      <%#= link_to "Cancel", "#",data: {
      controller: "modals",
      action: "modals#close",
    }   %>

    </p>
</div>
