<div class="card m-2 p-3">
  <h3><%= @article.title %></h3>
  <h5>written by <%= @article.profile.name %> <%= @article.profile.surname %></h5>
  <p><%= @article.content %></p>
  <%= link_to "Back", :root  %>
</div>
